body {
    background-color: #FF6767;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.maindiv {
    margin-top: 5%;
}
.divb {
    display: inline-block;
}
.divb > button {
    /* background-color: burlywood; */
    /* font-weight: bold; */
    /* padding: 15px; */
    margin: 10px;
    border-radius: 15px;
    border: 3px solid #FF7600;
    box-shadow: 2px 9px 15px #FAAD80;
    transition: all 0.1s ease;
    /* transition: 0.3s; */
   
    
    
    /* background: #bd34d9;
        background-image: -webkit-linear-gradient(top, #bd34d9, #632bb8);
        background-image: -moz-linear-gradient(top, #bd34d9, #632bb8);
        background-image: -ms-linear-gradient(top, #bd34d9, #632bb8);
        background-image: -o-linear-gradient(top, #bd34d9, #632bb8);
        background-image: linear-gradient(to bottom, #bd34d9, #632bb8);
        -webkit-border-radius: 20;
        -moz-border-radius: 20;
        border-radius: 20px;
        text-shadow: 1px 1px 3px #edd8ed;
        -webkit-box-shadow: 0px 3px 10px #eb99eb;
        -moz-box-shadow: 0px 3px 10px #eb99eb;
        box-shadow: 0px 3px 10px #eb99eb;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        border: solid #0909e6 1px;
        text-decoration: none; */
    }
.divb > button img {
        width: 300px;
    }
.divb > button img:hover {
    width: 900px;

}

      
.divb > button:hover {
    /* background: #dbd7d76e; */
    /* background-image: -webkit-linear-gradient(top, #fc3cd6, #d93484);
    background-image: -moz-linear-gradient(top, #fc3cd6, #d93484);
    background-image: -ms-linear-gradient(top, #fc3cd6, #d93484);
    background-image: -o-linear-gradient(top, #fc3cd6, #d93484);
    background-image: linear-gradient(to bottom, #fc3cd6, #d93484);
    text-decoration: none; */
    border: thin;
    
   

  }
.divb > button > a {
    text-decoration: none;
}
h1 {
    color: #52006A;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;

}
